h1 {
  border-bottom: solid white;
  padding-bottom: 10px;
}
.navbar {
        padding: 20px, 20px, 0, 10px;
        margin-bottom: 30px;
        color: white !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      } 

.nav-item {
  padding: 30px;
  }
  

#articles {
        display: inline-block;
        font-weight: bold;
        overflow: auto;
        width: 60%;
        height: 700px;
        margin-top: 20px;
      }
#notes {
        float: right;
        width: 30%;
        margin: 20px 40px 0 0;
        
      }
textarea, input {
        display: block;
        width: 100%;
      }
input {
        height: 36px;
        font-size: 24px;
      }
textarea {
        height: 200px;
        font-size: 18px;
      } 